In [41]:
import pandas as pd
import numpy as np

In [28]:
df = pd.read_csv('./data/finalproject/pub0222.csv')

In [29]:
# Getting an idea of the size of the dataset
df.shape

(103658, 60)

In [30]:
# Viewing a sample of data
df.head()

,REC_NUM,SURVYEAR,SURVMNTH,LFSSTAT,PROV,CMA,AGE_12,AGE_6,SEX,MARSTAT,...,LKATADS,LKANSADS,LKOTHERN,PRIORACT,YNOLOOK,TLOLOOK,SCHOOLN,EFAMTYPE,AGYOWNK,FINALWT
0,1,2022,2,4,35,4,1,1.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,18,NaN,1168
1,2,2022,2,4,10,0,2,4.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1,NaN,76
2,3,2022,2,4,35,0,7,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,2.0,422
3,4,2022,2,4,24,2,12,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,290
4,5,2022,2,4,47,0,10,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8,NaN,81

In [31]:
# Column names in lower case
df.columns = df.columns.str.lower()

# Validate the column selection
df.head()

,rec_num,survyear,survmnth,lfsstat,prov,cma,age_12,age_6,sex,marstat,...,lkatads,lkansads,lkothern,prioract,ynolook,tlolook,schooln,efamtype,agyownk,finalwt
0,1,2022,2,4,35,4,1,1.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,18,NaN,1168
1,2,2022,2,4,10,0,2,4.0,2,6,...,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1,NaN,76
2,3,2022,2,4,35,0,7,NaN,2,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,6,2.0,422
3,4,2022,2,4,24,2,12,NaN,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,NaN,290
4,5,2022,2,4,47,0,10,NaN,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,8,NaN,81

In [32]:
selected_columns = ["lfsstat", "prov", "cma", "age_6", "sex", "educ", "cowmain", "immig", "naics_21", "uhrsmain", "schooln"]

# Checking the subset of the initial dataframe
our_df = df[selected_columns]
our_df.head()
our_df

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0

## Tried a bunch of things before watching the assignement instructions video :facepalm:
Loading the index file with encoding supporting french accents
df_index = pd.read_csv('./data/finalproject/LFS_PUMF_EPA_FGMD_variables.csv', encoding='latin_1')
I don't think this file is required for the assignment
```python
# Cleaning df_index column name to remove spaces and special characters. Not required after all

df_index.columns = df_index.columns.str.replace('\n', '').str.replace(' ','_').str.split('/').str[0].str.replace('-','_').str.replace('_','').str.replace(':','')
```
I was confused with the index file, and how to correlate it to pub0222.csv so i looked into a library: https://stats-can.readthedocs.io/en/latest/. It didn't seem to do what i was expecting. I thought maybe the pumf file format could be read and mapped automatically using a library.

After a few more tries, i figured you might have posted something about how to do this, since most my time was spent finding mapping in between cma codes / province codes and the associated names

In [33]:
# Replace province code by actual name
# From before watching the instructions video...
# Mapping from here: https://www150.statcan.gc.ca/n1/pub/92-195-x/2011001/geo/prov/tbl/tbl8-eng.htm
province_mapping = {
    10: "NL",
    11: "PE",
    12: "NS",
    13: "ND",
    24: "QC",
    35: "ON",
    46: "MB",
    47: "SK",
    48: "AB",
    59: "BC",
    60: "YT",
    61: "NT",
    62: "NU"
}

# Map value from a dictionary. Adapted from https://sparkbyexamples.com/pandas/pandas-remap-values-in-column-with-a-dictionary-dict/#:~:text=Using%20map()%20to%20Remap%20Column%20Values%20in%20Pandas&text=Using%20map()%20to%20remap%20column%20values%20in%20pandas%20DataFrame,df%5B%22Courses%22%5D.
our_df['prov_name'] = our_df.prov.map(province_mapping)

/tmp/ipykernel_79848/2191313334.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['prov_name'] = our_df.prov.map(province_mapping)

In [34]:
# Checking the remapping of prov
our_df.head()
our_df

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0,ON
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0,NL
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0,ON
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN,QC
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0,SK
...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0,AB
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0,ON
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0,QC
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0,BC
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0,ND

In [35]:
# doesnt work
# cma = pd.read_excel("./data/TP_TAB")
#
# cma[::1]
# cma_dict = cma[['Unnamed: 3']].to_dict()
# cma_dict
# #cma_dict
# our_df['cma_name'] = our_df['cma'].map(cma_dict)
# #our_df
# our_df
cma_mapping = {
    1: "Québec",
    2: "Montréal",
    3: "Ottawa/Gatineau",
    4: "Toronto",
    5: "Hamilton",
    6: "Winnipeg",
    7: "Calgary",
    8: "Edmonton",
    9: "Vancouver",
    0: "Other CMA"
}
our_df['cma_name'] = our_df['cma'].map(cma_mapping)
our_df

/tmp/ipykernel_79848/1844206451.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['cma_name'] = our_df['cma'].map(cma_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name
0,4,35,4,1.0,2,1,2.0,3,10.0,NaN,2.0,ON,Toronto
1,4,10,0,4.0,2,3,2.0,3,17.0,NaN,2.0,NL,Other CMA
2,4,35,0,NaN,2,5,NaN,2,NaN,NaN,1.0,ON,Other CMA
3,4,24,2,NaN,1,1,2.0,3,19.0,NaN,NaN,QC,Montréal
4,4,47,0,NaN,1,4,2.0,3,10.0,NaN,1.0,SK,Other CMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,1,4,3.0,3,1.0,650.0,1.0,AB,Other CMA
103654,1,35,5,NaN,1,5,1.0,3,21.0,400.0,1.0,ON,Hamilton
103655,1,24,0,NaN,2,5,1.0,3,16.0,250.0,1.0,QC,Other CMA
103656,1,59,9,NaN,2,6,2.0,2,17.0,400.0,1.0,BC,Vancouver
103657,1,13,0,NaN,1,1,5.0,3,1.0,600.0,1.0,ND,Other CMA

In [37]:
# Replace the value in place with the number 1,2 with “M”, “F”, “O”, null/none
# Validating that sex only contains 1 or 2 values
our_df.query('sex != 1 and sex != 2')
sex_mapping = {
    1: "M",
    2: "F"
}
our_df['sex'] = our_df['sex'].map(sex_mapping)
our_df

/tmp/ipykernel_79848/3014474728.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['sex'] = our_df['sex'].map(sex_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name
0,4,35,4,1.0,F,1,2.0,3,10.0,NaN,2.0,ON,Toronto
1,4,10,0,4.0,F,3,2.0,3,17.0,NaN,2.0,NL,Other CMA
2,4,35,0,NaN,F,5,NaN,2,NaN,NaN,1.0,ON,Other CMA
3,4,24,2,NaN,M,1,2.0,3,19.0,NaN,NaN,QC,Montréal
4,4,47,0,NaN,M,4,2.0,3,10.0,NaN,1.0,SK,Other CMA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,3,1.0,650.0,1.0,AB,Other CMA
103654,1,35,5,NaN,M,5,1.0,3,21.0,400.0,1.0,ON,Hamilton
103655,1,24,0,NaN,F,5,1.0,3,16.0,250.0,1.0,QC,Other CMA
103656,1,59,9,NaN,F,6,2.0,2,17.0,400.0,1.0,BC,Vancouver
103657,1,13,0,NaN,M,1,5.0,3,1.0,600.0,1.0,ND,Other CMA

In [42]:
# cowmain_name field: Put the real values here refer to the index file.
cowmain_name_mapping = {
    1: "Public sector employees",
    2: "Private sector employees",
    3: "Self-employed incorporated with paid help",
    4: "Self-employed incorporated no paid help",
    5: "Self-employed unincorporated with paid help",
    6: "Self-employed unincorporated no paid help",
    7: "Unpaid family worker",
    np.NaN: "Not applicable"
}
our_df['cowmain_name'] = our_df.cowmain.map(cowmain_name_mapping)
our_df

/tmp/ipykernel_79848/2878242930.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['cowmain_name'] = our_df.cowmain.map(cowmain_name_mapping)

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name
0,4,35,4,1.0,F,1,2.0,3,10.0,NaN,2.0,ON,Toronto,Private sector employees
1,4,10,0,4.0,F,3,2.0,3,17.0,NaN,2.0,NL,Other CMA,Private sector employees
2,4,35,0,NaN,F,5,NaN,2,NaN,NaN,1.0,ON,Other CMA,Not applicable
3,4,24,2,NaN,M,1,2.0,3,19.0,NaN,NaN,QC,Montréal,Private sector employees
4,4,47,0,NaN,M,4,2.0,3,10.0,NaN,1.0,SK,Other CMA,Private sector employees
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103653,1,48,0,NaN,M,4,3.0,3,1.0,650.0,1.0,AB,Other CMA,Self-employed incorporated with paid help
103654,1,35,5,NaN,M,5,1.0,3,21.0,400.0,1.0,ON,Hamilton,Public sector employees
103655,1,24,0,NaN,F,5,1.0,3,16.0,250.0,1.0,QC,Other CMA,Public sector employees
103656,1,59,9,NaN,F,6,2.0,2,17.0,400.0,1.0,BC,Vancouver,Private sector employees
103657,1,13,0,NaN,M,1,5.0,3,1.0,600.0,1.0,ND,Other CMA,Self-employed unincorporated with paid help

In [43]:
# Replace the value in place. Put “True” or “False” for the immigrated status.
immigration_status = {
    1: "Immigrant, landed 10 or less years earlier",
    2: "Immigrant, landed more than 10 years earlier",
    3: "Non-immigrant"
}
our_df['immig'] = our_df['immig'].map(immigration_status)

/tmp/ipykernel_79848/1968389607.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['immig'] = our_df['immig'].map(immigration_status)

In [47]:
# Put the real values here refer to the index file.
naics_21_mapping = {
    1: "Agriculture",
    2: "Forestry and logging and support activities for forestry",
    3: "Fishing, hunting and trapping",
    4: "Mining, quarrying, and oil and gas extraction",
    5: "Utilities",
    6: "Construction",
    7: "Manufacturing - durable goods",
    8: "Manufacturing - non-durable goods",
    9: "Wholesale trade",
    10: "Retail trade",
    11: "Transportation and warehousing",
    12: "Finance and insurance",
    13: "Real estate and rental and leasing",
    14: "Professional, scientific and technical services",
    15: "Business, building and other support services",
    16: "Educational services",
    17: "Health care and social assistance",
    18: "Information, culture and recreation",
    19: "Accommodation and food services",
    20: "Other services (except public administration)",
    21: "Public administration",
    np.NaN: "Not applicable"
}
our_df['naics_21'] = our_df['naics_21'].map(naics_21_mapping)

/tmp/ipykernel_79848/1814369040.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['naics_21'] = our_df['naics_21'].map(naics_21_mapping)

In [52]:
# Boolean value of True or false based on schooln.
schooln_mapping = {
    1: "Non-student",
    2: "Full-time student",
    3: "Part-time student",
    np.NaN: "Not applicable"
}

# Returns True is student is in school and false if the person is "Non-student". N/A will be represented by NaN in DataFrame
def is_Student(x):
    if x in [1,2]:
        return True
    else:
        return False

our_df['is_student'] = our_df['schooln'].map(lambda x: is_Student(x), na_action='ignore')

/tmp/ipykernel_79848/1645387520.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['is_student'] = our_df['schooln'].map(lambda x: is_Student(x), na_action='ignore')

In [71]:
# This is a Boolean value based on schooln, put nothing if the person is not a student
# Setting student_fulll_time to boolean
our_df['student_full_time'] = our_df['schooln'].map(lambda x: True if (x == 2.0) else np.NaN, na_action='ignore')

/tmp/ipykernel_79848/1702382205.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  our_df['student_full_time'] = our_df['schooln'].map(lambda x: True if (x == 2.0) else np.NaN, na_action='ignore')

## Our final dataset

In [74]:
our_df.head()

,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,full_naics_21,is_student,student_full_time
0,4,35,4,1.0,F,1,2.0,Non-immigrant,Retail trade,NaN,2.0,ON,Toronto,Private sector employees,Retail trade,True,True
1,4,10,0,4.0,F,3,2.0,Non-immigrant,Health care and social assistance,NaN,2.0,NL,Other CMA,Private sector employees,Health care and social assistance,True,True
2,4,35,0,NaN,F,5,NaN,"Immigrant, landed more than 10 years earlier",Not applicable,NaN,1.0,ON,Other CMA,Not applicable,Not applicable,True,NaN
3,4,24,2,NaN,M,1,2.0,Non-immigrant,Accommodation and food services,NaN,NaN,QC,Montréal,Private sector employees,Accommodation and food services,NaN,NaN
4,4,47,0,NaN,M,4,2.0,Non-immigrant,Retail trade,NaN,1.0,SK,Other CMA,Private sector employees,Retail trade,True,NaN

## Import data to mysql server

In [94]:
import mysql.connector
import sqlalchemy as db

In [103]:

# Create database with mysql
config_file = "cebd-1160-projectstarter-winter-2022/.my.cnf"
connection = mysql.connector.connect(option_files=config_file)
cursor = connection.cursor()
#cursor.execute('CREATE DATABASE StatsCan')

# Load data in Mysql databse using sqlAlchemy
url = db.engine.URL(drivername='mysql', host='127.0.0.1',
                    database='StatsCan',
                    username='cebd1160_user', password='cebd1160')
engine = db.create_engine(url)

our_df.to_sql("WorkStatus", engine, schema="StatsCan")

/tmp/ipykernel_79848/2856582111.py:7: SADeprecationWarning: Calling URL() directly is deprecated and will be disabled in a future release.  The public constructor for URL is now the URL.create() method.
  url = db.engine.URL(drivername='mysql', host='127.0.0.1',

103658

In [107]:
# Validate data using sqlalchemy connection
pd.read_sql_query('SELECT * FROM StatsCan.WorkStatus LIMIT 10', engine)

,index,lfsstat,prov,cma,age_6,sex,educ,cowmain,immig,naics_21,uhrsmain,schooln,prov_name,cma_name,cowmain_name,full_naics_21,is_student,student_full_time
0,0,4,35,4,1.0,F,1,2.0,Non-immigrant,Retail trade,NaN,2.0,ON,Toronto,Private sector employees,Retail trade,1.0,1.0
1,1,4,10,0,4.0,F,3,2.0,Non-immigrant,Health care and social assistance,NaN,2.0,NL,Other CMA,Private sector employees,Health care and social assistance,1.0,1.0
2,2,4,35,0,NaN,F,5,NaN,"Immigrant, landed more than 10 years earlier",Not applicable,NaN,1.0,ON,Other CMA,Not applicable,Not applicable,1.0,NaN
3,3,4,24,2,NaN,M,1,2.0,Non-immigrant,Accommodation and food services,NaN,NaN,QC,Montréal,Private sector employees,Accommodation and food services,NaN,NaN
4,4,4,47,0,NaN,M,4,2.0,Non-immigrant,Retail trade,NaN,1.0,SK,Other CMA,Private sector employees,Retail trade,1.0,NaN
5,5,1,24,0,NaN,F,4,2.0,Non-immigrant,Retail trade,100.0,NaN,QC,Other CMA,Private sector employees,Retail trade,NaN,NaN
6,6,1,35,0,5.0,F,2,2.0,Non-immigrant,"Business, building and other support services",200.0,1.0,ON,Other CMA,Private sector employees,"Business, building and other support services",1.0,NaN
7,7,4,12,0,NaN,M,1,NaN,Non-immigrant,Not applicable,NaN,NaN,NS,Other CMA,Not applicable,Not applicable,NaN,NaN
8,8,2,35,0,5.0,M,5,1.0,Non-immigrant,Health care and social assistance,400.0,1.0,ON,Other CMA,Public sector employees,Health care and social assistance,1.0,NaN
9,9,1,24,0,NaN,F,4,2.0,Non-immigrant,"Business, building and other support services",400.0,1.0,QC,Other CMA,Private sector employees,"Business, building and other support services",1.0,NaN